<!DOCTYPE html>
<html>
<head>
<meta charset ="ISO-8859-1">
<title>Add Sales</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
crossorigin="anonymous">
</head>
<body>
<nav th:insert="fragments :: menu"/>
<h1> Add Sales</h1>
	<form th:action="@{/saveSales}" th:object="${salesDisplay}" method="POST">
	<label>Customer</label> 
                <select class="form-control mb-4 col-4" th:field="*{customerId}">
                    <option 
                    th:each="customer : ${salesDisplay.customers}"
                    th:value="${customer.id}"
                    th:text="${customer.fullName}"
                    ></option>
                </select>
     <label>Product</label> 
                <select class="form-control mb-4 col-4" th:field="*{productId}">
                    <option 
                    th:each="product : ${salesDisplay.products}"
                    th:value="${product.id}"
                    th:text="${product.productName}"
                    ></option>
                </select>
	<label for="quantities"> Quantity </label>
	<input type="number" th:field= "*{quantities}" class="form-control mb-4 col-4">
	<input type="submit" value="submit">
</body>
</html>